<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<main>
  <div class="jumbotron">
    <h1></h1>
    <p></p>
    <p></p>
  </div>
</main>


<%- include('../partials/footer'); %>
    